@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,700;1,800;1,900&display=swap");

:root {
  --background: #0d0d0d;
  --secondbackground: #1f1f1f;
  --text: #fff;
  --secondarytext: #76b900;
  --thirdtext: #9bd23d;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-padding-top: 150px;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  color: var(--text);
  justify-content: center;
  align-items: center;
}

/* HEADER  */

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background: var(--secondbackground);
  top: 0;
  position: fixed;
  padding: 0px 40px;
  z-index: 1;
}

/* LOGO  */

.header__logo {
  padding: 8px;
  animation: boom 1.8s infinite;
  transition: all ease-out;
}

@keyframes boom {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

/* hambur  */
.menuLabel {
  display: none;
}
#menuToggle {
  display: none;
}
/* hambur  */

/* cart  */

.cartLabel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carrito {
  height: 40px;
  padding: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.carrito:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(0.9);
}

.cart {
  position: absolute;
  top: 60px;
  right: 0;
  padding: 30px 20px;
  background: var(--secondbackground);
  display: flex;
  flex-direction: column;
  /* width: 250px; */
  gap: 20px;
  height: calc(100vh - 40px);
  z-index: 2;
  overflow-y: scroll;
  display: none;
  border-left: 1px solid var(--background);
}

/* cartScroll  */

.cart::-webkit-scrollbar {
  display: none;
}

/* Cart h2  */

.cart h2 {
  color: var(--thirdtext);
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 10px;
}

/* Cart Item  */

.cardsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.emptyMsg {
  font-size: 10px;
  color: var(--text);
}

.cartItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  /* border: 2px solid rgb(2, 2, 2); */
  border-radius: 10px;
  width: 250px;
  background: var(--background);
  padding: 10px;
}

.cartItem img {
  /* height: ; */
  width: 95%;
  border-radius: 10px;
}

/* Item   */

.itemInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-direction: column; */
  width: 95%;
  text-align: center;
}

.itemTitle {
  font-size: 12px;
  font-weight: 800;
  color: var(--thirdtext);
}

.itemP {
  font-size: 10px;
  text-align: center;
}

.itemPrecio {
  font-size: 11px;
  font-weight: 800;
}

.itemCantidad {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 10px;
}

.cantidadNum {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 10px;
  border-radius: 5px;
  font-weight: 800;
  font-size: 12px;
}

.rest {
  background: var(--thirdtext);
  border: 1px solid #000000;
  cursor: pointer;
  font-size: 10px;
  color: var(--background);
}

.rest:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.sum {
  background: var(--thirdtext);
  border: 1px solid #000000;
  cursor: pointer;
  font-size: 10px;
  color: var(--background);
}

.sum:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

/* Divider  */

.divider {
  margin-top: 20px;
  border: 2px solid var(--background);
}

/* Cart Total  */

.cartTotal {
  display: flex;
  align-self: flex-end;
}

.cartTotal p {
  font-size: 20px;
  font-weight: 800;
}

.totalCont {
  font-size: 17px;
  font-weight: 600;
}

/* Boton Cart  */

.botonCartBuy {
  color: var(--thirdtext);
  font-weight: 600;
  font-size: 15px;
  border: 1px solid rgb(71, 71, 71);
  width: 150px;
  text-align: center;
  border-radius: 4px;
  background-color: var(--background);
  padding: 3px 5px;
  align-self: center;
  cursor: pointer;
}

.botonCartBuy:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.botonCartClean {
  color: var(--thirdtext);
  font-weight: 600;
  font-size: 15px;
  border: 1px solid rgb(71, 71, 71);
  width: 150px;
  text-align: center;
  border-radius: 4px;
  background-color: var(--background);
  padding: 3px 5px;
  align-self: center;
  cursor: pointer;
}

.botonCartClean:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

#cartToggle {
  display: none;
}

.openCart {
  display: flex;
}

/* #cartToggle:checked + .cart {
  display: flex;
} */
/* cart  */

/* user  */
.menuUser {
  display: none;
}

#menuUser {
  display: none;
}
/* user */
.disabled {
  cursor: not-allowed;
  color: rgba(255, 58, 58, 0.328);
}

/* NAV  */

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.header__nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.header__nav__list--a {
  color: var(--thirdtext);
  font-weight: 500;
}

.a {
  transition: all 0.3s ease-in-out;
}

.a:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}

.header__nav__list--inicio {
  background-color: #0d0d0d;
  padding: 8px;
  border-radius: 10px;
  color: var(--thirdtext);
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  /* border: 1px solid var(--thirdtext); */
}

.header__nav__list--inicio:hover {
  background-color: var(--secondarytext);
  color: var(--background);
  transition: all 0.3s ease-in-out;
  /* transform:scale(0.8); */
}

.inicio {
  transition: all 0.3s ease-in-out;
}

.inicio:hover {
  transform: scale(0.9);
  transition: all 0.3s ease-in-out;
}

/* NAV  */

/* CONT  */

.header__cont {
  display: flex;
  gap: 40px;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
}

.header__cont--login {
  color: var(--secondarytext);
  background-color: var(--background);
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  font-weight: 600;
  transition: all 0.3s ease;
  /* border: 1px solid var(--thirdtext); */
}

.header__cont--login:hover {
  background-color: var(--secondarytext);
  color: #0d0d0d;
  transform: scale(0.9);
  transition: all 0.3s ease;
}

.header__cont--register {
  color: var(--background);
  background-color: #76b900;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.header__cont--register:hover {
  color: var(--secondarytext);
  background-color: var(--background);
  transform: scale(0.93);
  transition: all 0.3s ease;
  /* border: 1px solid var(--thirdtext); */
}

/* CONT  */

/* HEADER  */

/* MAIN  */

main {
  display: flex;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  margin-top: 65px;
}

/* MAIN  */

/* HERO  */

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 410px;
  margin-top: 100px;
  margin-bottom: 100px;
  max-width: 1200px;

  gap: 30px;
  padding: 20px;
  /* background: #1f1f1f; */
  background-image: url(./img/rtx-portada.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.hero__container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 90%;
  height: 90%;
}

.hero__container--btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text);
  font-weight: 900;
  font-size: 15px;
  border: 2px solid var(--text);
  padding: 5px;
  border-radius: 10px;
  transition: all 0.3s ease-in;
}

.hero__container--btn:hover {
  transition: all 0.3s ease-in;
  transform: scale(0.95);
  /* background-color: rgb(27, 58, 29); */
  border: 2px solid var(--text);
  color: var(--text);
  font-weight: 900;
}

/* BENEFITS  */

#benefits {
  /* background-color: var(--secondbackground); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  /* padding: 50px; */
  border-radius: 10px;
  gap: 60px;
  margin-bottom: 100px;
}

.benefits__title {
  font-size: 32px;
}

.benefits__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 95%;
}

.benefits__container__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  background-color: var(--secondbackground);
  padding: 20px 30px;
  border-radius: 10px;
  width: 30%;
  height: 250px;
}

.benefits__container__card__title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.benefits__container__card__title h3 {
  font-size: 23px;
  color: var(--secondarytext);
  font-weight: 900;
}

.benefits__container__card i {
  color: var(--thirdtext);
}

.benefits__container__card p {
  text-align: justify;
  font-size: 13px;
  color: var(--text);
}

/* PRODUCTS  */

#products {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  margin-bottom: 100px;
  margin-top: 150px;
}

.products__title {
  font-size: 32px;
  margin-bottom: 40px;
}

.products__categories {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  gap: 20px;
  margin-bottom: 20px;
}

.products__categories__category {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  padding: 5px;
  border-radius: 10px;
  width: 100px;
  font-weight: 600;
  background: var(--secondbackground);
  color: var(--thirdtext);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hidden {
  display: none;
}

.act {
  background: var(--secondarytext);
  color: var(--background);
  border: 1px solid var(--background);
  transition: all 0.3s ease;
}
.products__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 95%;
  gap: 20px;
}

.products__container__card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  height: 230px;
  background-color: var(--secondbackground);
  gap: 10px;
  border-radius: 10px;
  padding: 5px;
  transition: all 0.3s ease;
}

.products__container__card:hover {
  transition: all 0.3s ease;
  transform: scale(1.1);
}

.products__container__card__img {
  width: 95%;
  height: 60%;
  border-radius: 10px;
}

.products__container__card__title {
  font-size: 18px;
  font-weight: 600;
  color: var(--thirdtext);
}

.products__container__card__scont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.products__container__card__scont p {
  font-size: 13px;
  font-weight: 600;
}

.products__container__card__scont--btn {
  background-color: #0d0d0d;
  padding: 8px;
  border-radius: 10px;
  color: var(--thirdtext);
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  border: 1px solid var(--thirdtext);
  width: 60px;
  height: 30px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.products__container__card__scont--btn:hover {
  background-color: var(--secondarytext);
  color: var(--background);
  transition: all 0.3s ease-in-out;
  font-weight: 600;
}

/* BTN MORE */

.btn-more {
  background-color: var(--secondarytext);
  color: var(--background);
  border-radius: 8px;
  padding: 5px 10px;
  font-weight: 600;
  border: 1px solid var(--thirdtext);
  font-size: 13px;
  margin-top: 30px;
}

/* CONTACT US  */

#contactus {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 60px;
  margin-top: 150px;
  margin-bottom: 100px;
  width: 95%;
}

.contactus__title {
  font-size: 32px;
}

.contactus__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--secondbackground);
  padding: 20px;
  border-radius: 10px;
  gap: 50px;
}

.contactus__container__img {
  border-radius: 10px;
  width: 40%;
}

.contactus__container__actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  width: 70%;
}

.contactus__container__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  gap: 10px;
}

.contactus__container__form--input {
  padding: 10px;
  width: 50%;
  border-radius: 8px;
  background: var(--secondbackground);
  color: var(--text);
  border: 1px solid #9bd23d74;
}

.contactus__container__form--btn {
  color: var(--secondarytext);
  background-color: var(--background);
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  font-weight: 600;
  transition: all 0.3s ease;
  border: 1px solid var(--background);
  cursor: pointer;
}

.contactus__container__form--btn:hover {
  color: var(--background);
  background-color: #76b900;
  transition: all 0.3s ease;
  transform: scale(0.9);
}

::placeholder {
  color: var(--text);
}

.contactus__container__social {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  gap: 10px;
}

.contactus__container__social__title {
  font-weight: 600;
}

.contactus__container__social__cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  gap: 10px;
}

.contactus__container__social__cont__img {
  width: 30%;
  border-radius: 10px;
}

.contactus__container__social__cont__rs {
  color: var(--thirdtext);
  font-weight: 500;
  font-size: 15px;
  transition: all 0.3s ease;
}

.contactus__container__social__cont__rs:hover {
  transition: all 0.3s ease;
  transform: scale(1.1);
}

/* FOOTER  */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: var(--background);
  margin-top: 150px;
  margin-bottom: 50px;
  gap: 30px;
}

.footer__img {
  height: 30px;
}

.footer__text {
  font-size: 12px;
}

.footer__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer__list__text {
  font-size: 10px;
  cursor: pointer;
}

.modal {
  display: flex;
  padding: 5px 0px;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  color: var(--secondbackground);
  background: var(--secondarytext);
  position: fixed;
  bottom: 0;
  width: 100%;
  transition: all 0.3s ease-out;
  transform: translateY(200%);
  font-weight: 800;
  z-index: 2;
}

.modalActivo {
  transform: translateY(0);
  transition: all 0.3s ease-in;
}
